<section class="Header">
    <div class="scroll-down">
        <span></span>
        <span></span>
        <h6 class="mt-5">Scroll down</h6>
    </div>
</section>
<section class="eco-content-media p-lg-5">
    <p class="py-lg-5">IT ALL STARTS FROM NATURE</p>
    <div class="video-wrap">
        <div class="video">
            <video autoplay loop>
                <source src="assets/videos/video_eco.mp4" type="video/mp4">
            </video> 
        </div>
    </div>
</section>
<section class="eco-service text-center my-5">
    <div class="container">
        <!--**************Web View***********-->
        <div class="web-view">
            <div class="row ">
                <div class="col-md-4">
                    <div class="serv-content">
                        <img src="assets/images/39 - recyclable.png" alt="">
                        <h4>Recycable</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Id illum reiciendis esse ipsam debitis dolor suscipit optio voluptates facilis ea!
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="serv-content">
                        <h4>Hardness</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Id illum reiciendis esse ipsam debitis dolor suscipit optio voluptates facilis ea!
                        </p>
                        <img src="assets/images/40 - hardness.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="serv-content">
                        <img src="assets/images/41 - nontoxic.png" alt="">
                        <h4>non-toxic</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Id illum reiciendis esse ipsam debitis dolor suscipit optio voluptates facilis ea!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Mobile View-->
        <div class="mobile-view carousel_three owl-carousel owl-theme ">
            <div class="content">
                <div class="serv-content">
                    <img src="assets/images/39 - recyclable.png" class="w-50 mx-auto d-block" alt="">
                    <h4>Recycable</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Id illum reiciendis esse ipsam debitis dolor suscipit optio voluptates facilis ea!
                    </p>
                </div>
            </div>
            <div class="content">
                <div class="serv-content">
                    <img src="assets/images/40 - hardness.png" class="w-50 mx-auto d-block" alt="">
                    <h4>Hardness</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Id illum reiciendis esse ipsam debitis dolor suscipit optio voluptates facilis ea!
                    </p>
                </div>
            </div>
            <div class="content">
                <div class="serv-content">
                    <img src="assets/images/41 - nontoxic.png" class="w-50 mx-auto d-block" alt="">
                    <h4>non-toxic</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Id illum reiciendis esse ipsam debitis dolor suscipit optio voluptates facilis ea!
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="eco_insta_section text-center py-5">
    <div class="container">
        <p class="title">Explore More On Instagram</p>
        <div class="insta-slider my-5">
            <div id="carousel_one" class="owl-carousel owl-theme">
                <div class="content">
                    <div class="slider-img">
                        <img src="assets/images/49 - original.jpg" alt="">
                    </div>
                </div>
                <div class="content">
                    <div class="slider-img">
                        <img src="assets/images/50 - original.jpg" alt="">
                    </div>
                </div>
                <div class="content">
                    <div class="slider-img">
                        <img src="assets/images/51 - original.jpg" alt="">
                    </div>
                </div>
                <div class="content">
                    <div class="slider-img">
                        <img src="assets/images/52 - original.jpg" alt="">
                    </div>
                </div>
                <div class="content">
                    <div class="slider-img">
                        <img src="assets/images/53 - original.jpg" alt="">
                    </div>
                </div>
                <div class="content">
                    <div class="slider-img">
                        <img src="assets/images/54 - original.jpg" alt="">
                    </div>
                </div>
                <div class="content">
                    <div class="slider-img">
                        <img src="assets/images/55 - original.jpg" alt="">
                    </div>
                </div>
                <div class="content">
                    <div class="slider-img">
                        <img src="assets/images/56 - original.jpg" alt="">
                    </div>
                </div>
                <div class="content">
                    <div class="slider-img">
                        <img src="assets/images/57 - original.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="eco-style-material">
    <div class="container">
        <p class="title">Yet turns into marvellous</p>
        <p class="subtitle">Find out more versatile styles this material turns into.</p>

        <ul class="nav nav-pills mb-3 eco_nav_list my-4" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pills-new-nature-tab" data-bs-toggle="pill" href="#new-nature" role="tab" aria-controls="pills-new-nature" aria-selected="true">NEW NATURES</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-top-greens-tab" data-bs-toggle="pill" href="#top-greens" role="tab" aria-controls="pills-top-greens" aria-selected="false">TOP GREENS</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="new-nature" role="tabpanel" aria-labelledby="pills-new-nature-tab">
                <div class="container nav_list_wrapper my-5 ">
                    <div class="eco_nav_img">
                        <img src="assets/images/71 - section_otilia.jpg" alt="">
                    </div>
                    <div class="nature_glasses-list my-5">
                        <div  class="carousel_two owl-carousel owl-theme">
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/73 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Otilia</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/75 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Otilia</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/76 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Otilia</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/77 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Otilia</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/78 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Otilia</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/79 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Otilia</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Glasses section two-->
                    <div  class="eco_nav_img">
                        <img src="assets/images/80 - section_juul.jpg" alt="">
                    </div>
                    <div class="nature_glasses-list my-5">
                        <div  class="carousel_two owl-carousel owl-theme">
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/82 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Juul</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/83 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Juul</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/84 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Juul</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/85 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Juul</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/86 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Juul</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/78 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Juul</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--*******************Top Green********************  -->
            <div class="tab-pane fade" id="top-greens" role="tabpanel" aria-labelledby="pills-top-greens-tab">
                <div class="container nav_list_wrapper my-5 ">
                    <div class="eco_nav_img">
                        <img src="assets/images/99 - section_dabria.jpg" alt="">
                    </div>
                    <div class="nature_glasses-list my-5">
                        <div class="carousel_two owl-carousel owl-theme">
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/101 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Dabria</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/102 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Dabria</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/103 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Dabria</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/104 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Dabria</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/105 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Dabria</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/106 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Dabria</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/107 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Dabria</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/108 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Dabria</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Glasses section two-->
                    <div  class="eco_nav_img">
                        <img src="assets/images/111 - section_easygoing_cateye.jpg" alt="">
                    </div>
                    <div class="nature_glasses-list my-5">
                        <div class="carousel_two owl-carousel owl-theme">
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/113 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Danica</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/114 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Danica</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/115 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Danica</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/116 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Danica</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/117 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Danica</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/118 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Danica</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/119 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Danica</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/120 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Danica</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Glasses section Three-->
                    <div  class="eco_nav_img">
                        <img src="assets/images/127 - section_valeria.jpg" alt="">
                    </div>
                    <div class="nature_glasses-list my-5">
                        <div class="carousel_two owl-carousel owl-theme">
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/129 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Valeria</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/130 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Valeria</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/131 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Valeria</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/132 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Valeria</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/133 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Valeria</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/134 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Valeria</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/135 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Valeria</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/136 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Valeria</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Glasses section Four-->
                    <div  class="eco_nav_img">
                        <img src="assets/images/137 - section_noemi.jpg" alt="">
                    </div>
                    <div class="nature_glasses-list my-5">
                        <div class="carousel_two owl-carousel owl-theme">
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/139 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Noemi</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/140 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Noemi</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/141 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Noemi</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/142 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Noemi</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/143 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Noemi</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/144 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Noemi</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/145 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Noemi</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <img src="assets/images/146 - _450_225_20.jpg" alt="...">
                                    </div>
                                    <div class="slider-content text-center">
                                        <h5 class="title">Noemi</h5>
                                        <p class="sub-title text-muted">Three Color Available</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="more-to-come my-5">
    <div class="container">
        <div  class="more-to-come-img">
            <img src="assets/images/150 - moretocome_pic.jpg" alt="">
        </div>
    </div>
</section>

<section class="eco-voice-box my-5">
    <div class="container mb-5">
        <p class="title py-5">Voices from nature lovers</p>
        <!--owl carousel for Web view-->
        <div class="carousel_three owl-carousel owl-theme web-view">
            <div class="content">
                        <div class="row">
                            <div class="col-4">
                                <img src="assets/images/153 - giuligartner_photo.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-8">
                                <div class="content-txt">
                                    <p class="pb-5">
                                    Choosing to live a eco-friendly lifestyle can sometimes be a bit overwhelming,
                                    but it is all about the little changes and living mindful. Having a big voice and
                                    influence on social media, it is important to work with brands who follow the same values as I do.
                                    I was thrilled when TIJN presented their Eco-friendly line.If we all do our part, we can achieve a brighter and better future. 
                                    </p>
                                    <div class="content-img">
                                        <img src="assets/images/154 - giuligartner.jpg" alt="">
                                        <span class="fw-bold"> Giulia Woergartner </span>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="content">
                        <div class="row">
                            <div class="col-4">
                                <img src="assets/images/155 - dpc_photography_photo.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-8">
                                <div class="content-txt">
                                    <p class="pb-5">
                                    Choosing to live a eco-friendly lifestyle can sometimes be a bit overwhelming,
                                    but it is all about the little changes and living mindful. Having a big voice and
                                    influence on social media, it is important to work with brands who follow the same values as I do.
                                    I was thrilled when TIJN presented their Eco-friendly line.If we all do our part, we can achieve a brighter and better future. 
                                    </p>
                                    <div class="content-img">
                                        <img src="assets/images/156 - dpc_photography_.jpg" alt="">
                                        <span class="fw-bold"> Giulia Woergartner </span>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="content">
                        <div class="row">
                            <div class="col-4">
                                <img src="assets/images/157 - lorenz.weisse_photo.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-8">
                                <div class="content-txt">
                                    <p class="pb-5">
                                    Choosing to live a eco-friendly lifestyle can sometimes be a bit overwhelming,
                                    but it is all about the little changes and living mindful. Having a big voice and
                                    influence on social media, it is important to work with brands who follow the same values as I do.
                                    I was thrilled when TIJN presented their Eco-friendly line.If we all do our part, we can achieve a brighter and better future. 
                                    </p>
                                    <div class="content-img">
                                        <img src="assets/images/158 - lorenz_weisse.jpg" alt="">
                                        <span class="fw-bold"> Giulia Woergartner </span>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>

            
        </div>

        <!--owl carousel for Mobile view-->
        <div class=" carousel_three owl-carousel owl-theme mobile-view">
            <div class="content">
                <img src="assets/images/153 - giuligartner_photo.jpg" class="d-block w-100" alt="...">
                <div class="content-txt mt-3">
                    <p class="pb-3">
                            Choosing to live a eco-friendly lifestyle can sometimes be a bit overwhelming,
                            but it is all about the little changes and living mindful. Having a big voice and
                            influence on social media, it is important to work with brands who follow the same values as I do.
                            I was thrilled when TIJN presented their Eco-friendly line.If we all do our part, we can achieve a brighter and better future. 
                    </p>
                    <div class="content-img">
                        <img src="assets/images/154 - giuligartner.jpg" alt="">
                        <span class="fw-bold"> Giulia Woergartner </span>
                    </div>
                </div>
            </div>
            <div class="content">
                <img src="assets/images/155 - dpc_photography_photo.jpg" class="d-block w-100" alt="...">
                <div class="content-txt mt-3">
                    <p class="pb-3">
                            Choosing to live a eco-friendly lifestyle can sometimes be a bit overwhelming,
                            but it is all about the little changes and living mindful. Having a big voice and
                            influence on social media, it is important to work with brands who follow the same values as I do.
                            I was thrilled when TIJN presented their Eco-friendly line.If we all do our part, we can achieve a brighter and better future. 
                    </p>
                    <div class="content-img">
                        <img src="assets/images/156 - dpc_photography_.jpg" alt="">
                        <span class="fw-bold"> Giulia Woergartner </span>
                    </div>
                </div>
            </div>
            <div class="content">
                <img src="assets/images/157 - lorenz.weisse_photo.jpg" class="d-block w-100" alt="...">
                <div class="content-txt mt-3">
                    <p class="pb-3">
                            Choosing to live a eco-friendly lifestyle can sometimes be a bit overwhelming,
                            but it is all about the little changes and living mindful. Having a big voice and
                            influence on social media, it is important to work with brands who follow the same values as I do.
                            I was thrilled when TIJN presented their Eco-friendly line.If we all do our part, we can achieve a brighter and better future. 
                    </p>
                    <div class="content-img">
                        <img src="assets/images/158 - lorenz_weisse.jpg" alt="">
                        <span class="fw-bold"> Giulia Woergartner </span>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section id="contact-us" >
    <div class="container ">
        <div class="conact">
            <div class="row">
                <div class="col-lg-6 col-12 my-5 ml3 contact-info ">
                    <div class="row">
                        <div class="col-lg-3 col-12">
                            <div><p>Follow Us on</p></div>
                        </div>
                        <div class="col-lg-9 col-12">
                            <div class="social-icons">
                                <i class="fab fa-instagram fa-2x m-3"></i>
                                <i class="fab fa-twitter fa-2x m-3"></i>
                                <i class="fab fa-facebook-f fa-2x m-3"></i>
                                <i class="fab fa-youtube fa-2x m-3"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-12">
                            <div><p>Contact Us via</p></div>
                        </div>
                        <div class="col-lg-9 col-12">
                            <div class="email">
                                <i class="fas fa-envelope fa-2x m-3"></i>
                                <span>contact@eco-freindly.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-lg-4">
                        <div class="col-lg-4 col-12">
                            <a href="">EYEGLASSES</a>
                        </div>
                        <div class="col-lg-4 col-12">
                            <a href="">SUNGLASSES</a>
                        </div>
                        <div class="col-lg-4 col-12 ">
                            <a href="">PRESCRIPTION-SUNNIES</a>
                        </div>
                        <div class="col-lg-3 col-12 ">
                            <a href="">SHIPPING </a>
                        </div>
                        <div class="col-lg-3 col-12 ">
                            <a href="">RETURNS</a>
                        </div>
                        <div class="col-lg-3 col-12 ">
                            <a href="">FAQ</a>
                        </div>
                        <div class="col-lg-3 col-12 ">
                            <a href="">SITEMAP</a>
                        </div>
                    </div>
                </div>
                <div class="newsletter col-lg-6 col-12 my-lg-5 py-lg-5">
                    <div class="mb-3">
                        <input type="email" class="form-control w-75" placeholder="Subscribe to our newsletter" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="my-5">
                        <img src="assets/images/170 - pic_pay.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>